<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

		<center>
		<header> <h1> Home </h1> </header>
		<br> <br>
		<h1> Shehzad ul Islam - 1001555356</h1>
		<br>

		<h2><a href = "/list">See list of person</a></h2> <br>
		<h2><a href = "/add">Add a new person</a></h2>
            <h2><a href = "/search">Search for Magnitude Earthquakes</a></h2>
        <h2><a href = "/uploadimagefile">Upload Image</a></h2>
        <h2><a href = "/uploadCSVfile">Upload CSV File</a></h2>
		<img src=" {{url_for('static', filename='Jees.jpg')}}" style="margin-right: 10px;" >
		</center>

</body>
</html>