<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance</title>
</head>
<body>

<center>
    <h2> Shehzad ul Islam - 1001555356</h2>
    <br>
    <form id="performance" action="{{ url_for('randomqueries') }}" method="POST" enctype="multipart/form-data" >
        <p>Queries<input type ="text" name = "number" /></p>
        <p>Letter<input type ="text" name = "letter" /></p>
        <p><input type = "submit" value = "submit" /></p>
        <!--<p>Overall Time: {{time}} </p>-->
    </form>

    <table border = 1>
        {% for r in data %}
        <tr>
            <td>{{r[0]}}</td>
            <td>{{r[1]}}</td>
            <td>{{r[2]}}</td>
        </tr>
        {% endfor %}
    </table>

    <h2> <a href = "/">Home</a> </h2>

</body>
</html>