<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earthquakes Gap Range</title>
</head>

		<br>
		<h2> Shehzad ul Islam - 1001555356</h2>
		<br>
<body>
      <form id="find_mag" action="{{ url_for('grmag') }}" method="POST" enctype="multipart/form-data" >
         <p>location <input type ="text" name = "location" /></p>
          <p>magnitude<input type ="text" name = "magnitude" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
     <h2> <a href = "/">Home</a> </h2>
</body>
</html>